.root {
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  width: 100%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: baseline;
}

.link {
  font-size: 1.25em;
  color: white;
  text-decoration: none;
}
