.root {
  width: 100%;
  color: white;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(118, 0, 192, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(118, 0, 192, 0.3);
}

.root > * {
  padding: 2em;
}
