.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  gap: 2em;
  padding: 0 2em;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4em;
  box-sizing: border-box;
  /* height: 100%; */
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
